<div class="container">
  <div class="card text-white ">
    <div class="images ">

      <div class="co-md-4 col-sm-12 ">
        <div class="p-2">
          <img src="assets/loclass.PNG" class="rounded float-left img-fluid" alt="...">
          <!-- <img  class="img-fluid" alt="Responsive image"> -->
        </div>
      </div>

        <div class="co-md-4 col-sm-12 ">
        <div class=" p-2 text-white">
          <div class="btn-group">
            <div class="dropdown p-2">
              <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               INR
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Inr</a>
              </div>
            </div>
            <div class="dropdown p-2 ">
              <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               BTC
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">BTC</a>
                <a class="dropdown-item" href="#">ETH</a>
                <a class="dropdown-item" href="#">USDT</a>
                <a class="dropdown-item" href="#">DASH</a>
              </div>
            </div>

          </div>
        </div>


        </div>

        <div class="co-md-4 col-sm-12 ">
        <div class="p-2">
          <button type="button" class="btn btn-primary px-3"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cursor-fill" viewBox="0 0 16 16">
            <path d="M14.082 2.182a.5.5 0 0 1 .103.557L8.528 15.467a.5.5 0 0 1-.917-.007L5.57 10.694.803 8.652a.5.5 0 0 1-.006-.916l12.728-5.657a.5.5 0 0 1 .556.103z"/>
          </svg>Connect Telegram</button>

          <label class="switch" style="margin-left: 20px;" >
            <input type="checkbox" checked>
            <span class="slider round"></span>
          </label>
        </div>
      </div>
    </div>
  </div>
    <div class="card-body">
      <table class="table text-white">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Last</th>
            <th scope="col">Buy/Sell Price</th>
            <th scope="col">Volume</th>
            <th scope="col">Base_unit</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- </div> -->
